#minha-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#meu-formulario{
    display: flex;
    flex-direction: column;
    width: 250px;
}