.componente-block{
    display: block;
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
}
.componente-inline{
    display: inline;
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
}
.componente-inline-block{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: green;
}
